.course-details__wrapper {
}
.course-details__header {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0%;

  .course-details__header-course-metadata {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.course-details__header-course-metadata {
  margin-top: 1%;
  p {
    font-size: 2rem;
  }
  p:nth-child(3) {
    font-size: 2rem;
    color: rgb(243, 255, 248);
    font-weight: 500;
    background-color: #181313;
    padding: 1rem;
  }
}
.course-details__title {
  font-size: 4rem;
  font-weight: 700;
}
.course-details__body {
  display: flex;
  gap: 1rem;
}
.course-details__description {
  background-color: #181313;
}
.course-details__body-lessons {
  background-color: var(--section-color);
  margin-top: 2%;
  padding: 2rem;
}
.course-details__body-right-column {
  display: flex;
  flex-direction: column;
}
@include media-breakpoint-down("sm") {
  .course-details__body {
    display: block;
  }
  .course-details__body-left-column {
    width: 100% !important;
  }
  .ReactModal__Content {
    width: 90vw;
  }
}
